.main-page {
    color: #434455;
    background-color: #FFFFFF;
}

.header-logo {
    color: #2E2F42;
}

/* лого хедера та заголовки колір #2E2F42; */
/* другорядний колір #434455;*/
/* білий текст  #FFFFFF; */
/* лого хедера #4D5AE5 * /
/* лого і текст футера #F4F4FD */
/* бекграунд головний  #FFFFFF */
/* бекграунд другорядний #F4F4FD */
/* бекграунд темних секцій #2E2F42 */