/* основний колір текста #434455;*/
/* колір текста другої частини лого хедера, навігація та заголовки #2E2F42; */
/* колір текста героя  #FFFFFF; */
/* колір першої частини текста лого і кнопки #4D5AE5 * /
/* колір кнопки при hover та навігації при актів  #404BBF */
/* колір другої частини лого футера #F4F4FD */
/* колір текста футера #E7E9FC; */
/* бекграунд головний  #FFFFFF */
/* бекграунд другорядний #F4F4FD */
/* бекграунд темних секцій #2E2F42 */

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --hero-text-color: #FFFFFF;
    --footer-text-color: #E7E9FC;
    --primary-backgraund-color: #FFFFFF;
    --hero-footer-backgraund-color: #2E2F42;
    --button-backgraund-color: #4D5AE5;
    --activ-hover-color: #404BBF;
    --secondary-backgraund-color: #F4F4FD;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-backgraund-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Зкинути крапки */
.list {
    list-style: none;
}

/*  Заголовки */
.ttl {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.values-title.ttl,
.name.ttl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.values-title.ttl {
    text-align: left;
}

/* Логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.accent {
    color: var(--button-backgraund-color);
}

.header-logo {
    line-height: 1.33;
}

.ftr-logo {
    line-height: 1.17;
    color: #F4F4FD;
}

/* Стилізаці навігації сайту */
.header-nav a {
    color: var(--title-text-color);
    text-decoration: none;
}

.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.nav:active,
.email:active {
    color: var(--activ-hover-color);
}

/* Адреса */

.addrss a {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

/* Стилізація героя */

.hero {
    color: var(--hero-text-color);
    background-color: var(--hero-footer-backgraund-color);
}

.hero-title {

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

/* Кнопка */
.btn {
    color: var(--hero-text-color);
    background-color: var(--button-backgraund-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
    background-color: var(--activ-hover-color);
}

/* Картки */
.team p {
    text-align: left;
}

/* Стилізація футера */
.ftr {
    color: var(--footer-text-color);
    background-color: var(--hero-footer-backgraund-color);
}

